@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles to ensure fixed width for all screens */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #ffffff; /* Optional: Add a soft background */
}

/* This will apply a fixed width to all pages */
#root {
  width: 100%;
  max-width: 400px;  /* Fixed width for mobile look */
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fixed-footer {
  width: 100%; /* Match the parent's width */
  max-width: 400px; /* Same as the #root width */
  position: fixed;
  bottom: 0;
  left: 50%; /* Start from the center */
  transform: translateX(-50%); /* Adjust to center align */
  background-color: white;
  border-top: 2px solid #4fd1c5; /* Teal border */
  z-index: 10; /* Ensure it's on top */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
}